.cl-formButtonPrimary {
    font-size: 14px;
    text-transform: none;
    background-color: #1d1b20;
  }
  
  .cl-formButtonPrimary:hover,
  .cl-formButtonPrimary:focus,
  .cl-formButtonPrimary:active {
    background-color: #0e0b11;
  }